---
---

<section class="parallax-hero" id="parallax-hero">
  <!-- Sky gradient -->
  <div class="parallax-sky"></div>

  <!-- Layer 7: Far mountains (lightest, haziest) -->
  <div class="parallax-layer" data-speed="0.08" style="z-index:2;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,560 L120,480 L200,520 L320,430 L440,480 L520,400 L640,440 L720,380 L840,420 L920,360 L1040,400 L1120,370 L1240,420 L1320,390 L1440,430 L1440,800 L0,800Z" fill="#3d7558" opacity="0.35"/>
    </svg>
  </div>

  <!-- Layer 6: Mid mountains -->
  <div class="parallax-layer" data-speed="0.13" style="z-index:3;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,540 L100,490 L180,520 L260,450 L360,490 L440,420 L540,460 L640,400 L740,440 L820,390 L920,430 L1020,380 L1100,420 L1200,390 L1300,430 L1380,400 L1440,440 L1440,800 L0,800Z" fill="#2f5c45" opacity="0.5"/>
    </svg>
  </div>

  <!-- Layer 5: Distant treeline (small spruce silhouettes) -->
  <div class="parallax-layer" data-speed="0.2" style="z-index:4;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,600
        L10,600 L15,560 L20,600
        L28,600 L33,540 L38,600
        L44,600 L48,570 L52,600
        L60,600 L65,530 L70,600
        L78,600 L82,565 L86,600
        L94,600 L99,520 L104,600
        L110,600 L114,555 L118,600
        L126,600 L131,535 L136,600
        L142,600 L146,570 L150,600
        L158,600 L163,515 L168,600
        L176,600 L180,550 L184,600
        L192,600 L197,525 L202,600
        L208,600 L212,565 L216,600
        L224,600 L229,510 L234,600
        L242,600 L246,555 L250,600
        L258,600 L263,530 L268,600
        L274,600 L278,570 L282,600
        L290,600 L295,520 L300,600
        L308,600 L312,560 L316,600
        L324,600 L329,505 L334,600
        L340,600 L344,555 L348,600
        L356,600 L361,535 L366,600
        L374,600 L378,570 L382,600
        L390,600 L395,515 L400,600
        L406,600 L410,560 L414,600
        L422,600 L427,530 L432,600
        L440,600 L444,565 L448,600
        L456,600 L461,510 L466,600
        L472,600 L476,555 L480,600
        L488,600 L493,525 L498,600
        L506,600 L510,570 L514,600
        L522,600 L527,520 L532,600
        L538,600 L542,560 L546,600
        L554,600 L559,505 L564,600
        L572,600 L576,550 L580,600
        L588,600 L593,530 L598,600
        L604,600 L608,565 L612,600
        L620,600 L625,515 L630,600
        L638,600 L642,555 L646,600
        L654,600 L659,535 L664,600
        L670,600 L674,570 L678,600
        L686,600 L691,510 L696,600
        L704,600 L708,560 L712,600
        L720,600 L725,525 L730,600
        L736,600 L740,565 L744,600
        L752,600 L757,505 L762,600
        L770,600 L774,550 L778,600
        L786,600 L791,530 L796,600
        L802,600 L806,570 L810,600
        L818,600 L823,515 L828,600
        L836,600 L840,555 L844,600
        L852,600 L857,535 L862,600
        L868,600 L872,565 L876,600
        L884,600 L889,510 L894,600
        L902,600 L906,560 L910,600
        L918,600 L923,525 L928,600
        L934,600 L938,570 L942,600
        L950,600 L955,505 L960,600
        L968,600 L972,550 L976,600
        L984,600 L989,530 L994,600
        L1000,600 L1004,565 L1008,600
        L1016,600 L1021,515 L1026,600
        L1034,600 L1038,555 L1042,600
        L1050,600 L1055,535 L1060,600
        L1066,600 L1070,570 L1074,600
        L1082,600 L1087,510 L1092,600
        L1100,600 L1104,560 L1108,600
        L1116,600 L1121,525 L1126,600
        L1132,600 L1136,565 L1140,600
        L1148,600 L1153,505 L1158,600
        L1166,600 L1170,555 L1174,600
        L1182,600 L1187,530 L1192,600
        L1198,600 L1202,570 L1206,600
        L1214,600 L1219,515 L1224,600
        L1232,600 L1236,560 L1240,600
        L1248,600 L1253,535 L1258,600
        L1264,600 L1268,565 L1272,600
        L1280,600 L1285,510 L1290,600
        L1298,600 L1302,555 L1306,600
        L1314,600 L1319,525 L1324,600
        L1330,600 L1334,570 L1338,600
        L1346,600 L1351,505 L1356,600
        L1364,600 L1368,550 L1372,600
        L1380,600 L1385,530 L1390,600
        L1398,600 L1402,565 L1406,600
        L1414,600 L1419,520 L1424,600
        L1432,600 L1436,555 L1440,600
        L1440,800 L0,800Z"
        fill="#285542" opacity="0.65"/>
    </svg>
  </div>

  <!-- Layer 4: Mid treeline (taller spruces) -->
  <div class="parallax-layer" data-speed="0.3" style="z-index:5;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,660
        L8,660 L14,590 L20,660
        L30,660 L36,570 L42,660
        L48,660 L53,610 L58,660
        L68,660 L74,560 L80,660
        L88,660 L93,600 L98,660
        L108,660 L114,550 L120,660
        L128,660 L133,595 L138,660
        L148,660 L154,565 L160,660
        L168,660 L172,615 L176,660
        L186,660 L192,545 L198,660
        L206,660 L211,590 L216,660
        L226,660 L232,560 L238,660
        L244,660 L248,605 L252,660
        L262,660 L268,540 L274,660
        L282,660 L287,585 L292,660
        L302,660 L308,555 L314,660
        L320,660 L324,610 L328,660
        L338,660 L344,535 L350,660
        L358,660 L363,580 L368,660
        L378,660 L384,550 L390,660
        L396,660 L400,605 L404,660
        L414,660 L420,530 L426,660
        L434,660 L439,575 L444,660
        L454,660 L460,545 L466,660
        L472,660 L476,610 L480,660
        L490,660 L496,525 L502,660
        L510,660 L515,570 L520,660
        L530,660 L536,540 L542,660
        L548,660 L552,600 L556,660
        L566,660 L572,530 L578,660
        L586,660 L591,575 L596,660
        L606,660 L612,545 L618,660
        L624,660 L628,610 L632,660
        L642,660 L648,520 L654,660
        L662,660 L667,570 L672,660
        L682,660 L688,540 L694,660
        L700,660 L704,605 L708,660
        L718,660 L724,525 L730,660
        L738,660 L743,580 L748,660
        L758,660 L764,545 L770,660
        L776,660 L780,610 L784,660
        L794,660 L800,530 L806,660
        L814,660 L819,575 L824,660
        L834,660 L840,550 L846,660
        L852,660 L856,600 L860,660
        L870,660 L876,535 L882,660
        L890,660 L895,580 L900,660
        L910,660 L916,540 L922,660
        L928,660 L932,610 L936,660
        L946,660 L952,525 L958,660
        L966,660 L971,575 L976,660
        L986,660 L992,545 L998,660
        L1004,660 L1008,605 L1012,660
        L1022,660 L1028,530 L1034,660
        L1042,660 L1047,570 L1052,660
        L1062,660 L1068,540 L1074,660
        L1080,660 L1084,600 L1088,660
        L1098,660 L1104,525 L1110,660
        L1118,660 L1123,580 L1128,660
        L1138,660 L1144,550 L1150,660
        L1156,660 L1160,610 L1164,660
        L1174,660 L1180,535 L1186,660
        L1194,660 L1199,575 L1204,660
        L1214,660 L1220,545 L1226,660
        L1232,660 L1236,600 L1240,660
        L1250,660 L1256,520 L1262,660
        L1270,660 L1275,575 L1280,660
        L1290,660 L1296,540 L1302,660
        L1308,660 L1312,610 L1316,660
        L1326,660 L1332,530 L1338,660
        L1346,660 L1351,580 L1356,660
        L1366,660 L1372,550 L1378,660
        L1384,660 L1388,605 L1392,660
        L1402,660 L1408,535 L1414,660
        L1422,660 L1427,575 L1432,660
        L1440,660
        L1440,800 L0,800Z"
        fill="#234a38"/>
    </svg>
  </div>

  <!-- TITLE floating between tree layers -->
  <div class="parallax-layer parallax-title-layer" data-speed="0.24" style="z-index:6;">
    <div class="parallax-title-content">
      <span class="parallax-tagline">Direct Booking &middot; Alaska</span>
      <h1 class="parallax-title">
        alaska<span class="parallax-title-accent">stays.</span>
      </h1>
      <p class="parallax-subtitle">Wilderness retreats across the Last Frontier</p>
    </div>
  </div>

  <!-- Layer 3: Close treeline -->
  <div class="parallax-layer" data-speed="0.42" style="z-index:7;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,700
        L10,700 L18,610 L26,700
        L38,700 L46,595 L54,700
        L62,700 L68,640 L74,700
        L86,700 L94,580 L102,700
        L112,700 L119,620 L126,700
        L138,700 L146,575 L154,700
        L162,700 L168,635 L174,700
        L186,700 L194,585 L202,700
        L212,700 L218,630 L224,700
        L236,700 L244,570 L252,700
        L260,700 L266,625 L272,700
        L284,700 L292,580 L300,700
        L310,700 L316,640 L322,700
        L334,700 L342,565 L350,700
        L358,700 L364,620 L370,700
        L382,700 L390,575 L398,700
        L408,700 L414,635 L420,700
        L432,700 L440,560 L448,700
        L456,700 L462,615 L468,700
        L480,700 L488,570 L496,700
        L506,700 L512,630 L518,700
        L530,700 L538,555 L546,700
        L554,700 L560,620 L566,700
        L578,700 L586,580 L594,700
        L604,700 L610,640 L616,700
        L628,700 L636,565 L644,700
        L652,700 L658,615 L664,700
        L676,700 L684,575 L692,700
        L702,700 L708,635 L714,700
        L726,700 L734,560 L742,700
        L750,700 L756,620 L762,700
        L774,700 L782,570 L790,700
        L800,700 L806,630 L812,700
        L824,700 L832,555 L840,700
        L848,700 L854,615 L860,700
        L872,700 L880,580 L888,700
        L898,700 L904,640 L910,700
        L922,700 L930,565 L938,700
        L946,700 L952,620 L958,700
        L970,700 L978,575 L986,700
        L996,700 L1002,635 L1008,700
        L1020,700 L1028,560 L1036,700
        L1044,700 L1050,615 L1056,700
        L1068,700 L1076,570 L1084,700
        L1094,700 L1100,630 L1106,700
        L1118,700 L1126,555 L1134,700
        L1142,700 L1148,620 L1154,700
        L1166,700 L1174,580 L1182,700
        L1192,700 L1198,640 L1204,700
        L1216,700 L1224,565 L1232,700
        L1240,700 L1246,615 L1252,700
        L1264,700 L1272,575 L1280,700
        L1290,700 L1296,635 L1302,700
        L1314,700 L1322,560 L1330,700
        L1338,700 L1344,620 L1350,700
        L1362,700 L1370,580 L1378,700
        L1388,700 L1394,630 L1400,700
        L1412,700 L1420,570 L1428,700
        L1440,700
        L1440,800 L0,800Z"
        fill="#1c3e2e"/>
    </svg>
  </div>

  <!-- Layer 2: Near treeline (tall dark spruces) -->
  <div class="parallax-layer" data-speed="0.56" style="z-index:8;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,740
        L12,740 L20,650 L28,740
        L42,740 L50,635 L58,740
        L68,740 L74,680 L80,740
        L94,740 L102,625 L110,740
        L122,740 L129,660 L136,740
        L150,740 L158,620 L166,740
        L176,740 L182,670 L188,740
        L202,740 L210,630 L218,740
        L230,740 L237,665 L244,740
        L258,740 L266,615 L274,740
        L284,740 L290,670 L296,740
        L310,740 L318,625 L326,740
        L338,740 L345,660 L352,740
        L366,740 L374,610 L382,740
        L392,740 L398,665 L404,740
        L418,740 L426,620 L434,740
        L446,740 L453,655 L460,740
        L474,740 L482,615 L490,740
        L500,740 L506,670 L512,740
        L526,740 L534,625 L542,740
        L554,740 L561,660 L568,740
        L582,740 L590,610 L598,740
        L608,740 L614,665 L620,740
        L634,740 L642,620 L650,740
        L662,740 L669,655 L676,740
        L690,740 L698,615 L706,740
        L716,740 L722,670 L728,740
        L742,740 L750,625 L758,740
        L770,740 L777,660 L784,740
        L798,740 L806,610 L814,740
        L824,740 L830,665 L836,740
        L850,740 L858,620 L866,740
        L878,740 L885,655 L892,740
        L906,740 L914,615 L922,740
        L932,740 L938,670 L944,740
        L958,740 L966,625 L974,740
        L986,740 L993,660 L1000,740
        L1014,740 L1022,610 L1030,740
        L1040,740 L1046,665 L1052,740
        L1066,740 L1074,620 L1082,740
        L1094,740 L1101,655 L1108,740
        L1122,740 L1130,615 L1138,740
        L1148,740 L1154,670 L1160,740
        L1174,740 L1182,625 L1190,740
        L1202,740 L1209,660 L1216,740
        L1230,740 L1238,610 L1246,740
        L1256,740 L1262,665 L1268,740
        L1282,740 L1290,620 L1298,740
        L1310,740 L1317,655 L1324,740
        L1338,740 L1346,615 L1354,740
        L1364,740 L1370,670 L1376,740
        L1390,740 L1398,630 L1406,740
        L1418,740 L1425,660 L1432,740
        L1440,740
        L1440,800 L0,800Z"
        fill="#163326"/>
    </svg>
  </div>

  <!-- Layer 1: Foreground (darkest, closest, biggest trees) -->
  <div class="parallax-layer" data-speed="0.7" style="z-index:9;">
    <svg viewBox="0 0 1440 800" preserveAspectRatio="xMidYEnd slice" class="parallax-svg">
      <path d="M0,770
        L15,770 L24,680 L33,770
        L50,770 L59,660 L68,770
        L80,770 L87,710 L94,770
        L112,770 L121,650 L130,770
        L145,770 L153,690 L161,770
        L178,770 L187,645 L196,770
        L210,770 L217,705 L224,770
        L242,770 L251,655 L260,770
        L275,770 L283,700 L291,770
        L308,770 L317,640 L326,770
        L340,770 L347,695 L354,770
        L372,770 L381,650 L390,770
        L405,770 L413,705 L421,770
        L438,770 L447,640 L456,770
        L470,770 L477,700 L484,770
        L502,770 L511,655 L520,770
        L535,770 L543,695 L551,770
        L568,770 L577,645 L586,770
        L600,770 L607,705 L614,770
        L632,770 L641,650 L650,770
        L665,770 L673,690 L681,770
        L698,770 L707,640 L716,770
        L730,770 L737,700 L744,770
        L762,770 L771,655 L780,770
        L795,770 L803,695 L811,770
        L828,770 L837,645 L846,770
        L860,770 L867,705 L874,770
        L892,770 L901,650 L910,770
        L925,770 L933,690 L941,770
        L958,770 L967,640 L976,770
        L990,770 L997,700 L1004,770
        L1022,770 L1031,655 L1040,770
        L1055,770 L1063,695 L1071,770
        L1088,770 L1097,645 L1106,770
        L1120,770 L1127,705 L1134,770
        L1152,770 L1161,650 L1170,770
        L1185,770 L1193,690 L1201,770
        L1218,770 L1227,640 L1236,770
        L1250,770 L1257,700 L1264,770
        L1282,770 L1291,655 L1300,770
        L1315,770 L1323,690 L1331,770
        L1348,770 L1357,645 L1366,770
        L1380,770 L1387,700 L1394,770
        L1412,770 L1421,660 L1430,770
        L1440,770
        L1440,800 L0,800Z"
        fill="#0f2a1c"/>
    </svg>
  </div>

  <!-- Ground -->
  <div class="parallax-ground" style="z-index:10;"></div>

  <!-- Scroll indicator -->
  <div class="parallax-scroll-indicator" style="z-index:11;">
    <span>Scroll to explore</span>
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 14l-7 7m0 0l-7-7m7 7V3"/>
    </svg>
  </div>
</section>

<!-- Transition -->
<div class="parallax-transition"></div>

<!-- Content below -->
<section class="parallax-content-below" id="hero-content">
  <div class="max-w-[1400px] mx-auto px-6 lg:px-10 py-16 lg:py-20">
    <div class="text-center mb-8" data-reveal>
      <span class="label-sm text-marigold tracking-[0.2em]">The Last Frontier, Your Way</span>
    </div>
    <h2 class="heading-lg text-black text-4xl lg:text-5xl text-center max-w-3xl mx-auto mb-6" data-reveal>
      Handpicked Wilderness<br/>
      <span class="text-marigold italic">Retreats.</span>
    </h2>
    <p class="text-slate-grey text-center text-[0.95rem] font-light max-w-xl mx-auto leading-relaxed mb-12" data-reveal>
      Cabins, lodges, and retreats across Alaska's most breathtaking landscapes. Book direct for the best rates and authentic experiences.
    </p>
    <div class="max-w-4xl mx-auto" data-reveal>
      <script is:inline src="https://hospitable.b-cdn.net/direct-property-search-widget/hospitable-search-widget.prod.js"></script>
      <hospitable-direct-mps
        identifier="d2e62d05-ccfe-48b6-b6ae-dbdd9df20e23"
        type="custom"
        results-url="/search"
        style="--hospitable-primary-color: #22382d; --hospitable-secondary-color: #e2ad37;"
      ></hospitable-direct-mps>
    </div>
  </div>
</section>

<style>
  .parallax-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    overflow: hidden;
  }
  .parallax-sky {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
      #e8c87a 0%, #d4a84e 8%, #c4923a 15%,
      #8b6b3a 25%, #4a5e3a 40%, #2e4d3d 55%,
      #22382d 70%, #1a2b22 85%, #0f2a1c 100%);
    z-index: 0;
  }
  .parallax-layer {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    will-change: transform;
  }
  .parallax-svg {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100%;
  }
  .parallax-title-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .parallax-title-content {
    text-align: center;
    padding-bottom: 8vh;
  }
  .parallax-tagline {
    display: block;
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 0.7rem; font-weight: 600;
    letter-spacing: 0.25em; text-transform: uppercase;
    color: rgba(226, 173, 55, 0.8);
    margin-bottom: 1rem;
  }
  .parallax-title {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-weight: 900;
    font-size: clamp(3.5rem, 10vw, 8rem);
    color: white; line-height: 1;
    letter-spacing: -0.03em;
    text-shadow: 0 4px 40px rgba(0,0,0,0.4), 0 2px 10px rgba(0,0,0,0.2);
  }
  .parallax-title-accent { color: #e2ad37; }
  .parallax-subtitle {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-weight: 300;
    font-size: clamp(0.85rem, 1.5vw, 1.1rem);
    color: rgba(255,255,255,0.5);
    margin-top: 1rem; letter-spacing: 0.05em;
  }
  .parallax-ground {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 6%;
    background: #0f2a1c;
  }
  .parallax-scroll-indicator {
    position: absolute;
    bottom: 2rem; left: 50%;
    transform: translateX(-50%);
    display: flex; flex-direction: column;
    align-items: center; gap: 0.5rem;
    color: rgba(255,255,255,0.3);
    animation: floatBounce 3s ease-in-out infinite;
  }
  .parallax-scroll-indicator span {
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 0.6rem; font-weight: 600;
    letter-spacing: 0.2em; text-transform: uppercase;
  }
  @keyframes floatBounce {
    0%, 100% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-8px); }
  }
  .parallax-transition {
    position: relative; height: 80px;
    background: linear-gradient(180deg, #0f2a1c 0%, #22382d 40%, #efe2ca 100%);
    z-index: 20;
  }
  .parallax-content-below {
    position: relative;
    background: var(--river-rock, #efe2ca);
    z-index: 20;
  }
  @media (max-width: 768px) {
    .parallax-hero { min-height: 500px; max-height: 700px; }
    .parallax-title-content { padding-bottom: 12vh; }
  }
</style>

<script>
  const hero = document.querySelector('.parallax-hero');
  const layers = document.querySelectorAll('.parallax-layer');
  let ticking = false;
  function updateParallax() {
    const scrollY = window.scrollY;
    const heroHeight = hero?.offsetHeight || 900;
    if (scrollY > heroHeight * 1.5) { ticking = false; return; }
    layers.forEach((layer) => {
      const speed = parseFloat((layer as HTMLElement).dataset.speed || '0');
      (layer as HTMLElement).style.transform = `translate3d(0, -${scrollY * speed}px, 0)`;
    });
    ticking = false;
  }
  window.addEventListener('scroll', () => {
    if (!ticking) { requestAnimationFrame(updateParallax); ticking = true; }
  }, { passive: true });
  updateParallax();
  const si = document.querySelector('.parallax-scroll-indicator');
  window.addEventListener('scroll', () => {
    if (si) (si as HTMLElement).style.opacity = String(Math.max(0, 1 - window.scrollY / 200));
  }, { passive: true });
</script>
